
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-container" #formRef="ngForm">
  <h2>Formularz rejestracji</h2>
  <div class="form-field"> 
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />
    <div class="error-message" *ngIf="formRef.submitted && registrationForm.get('email')?.errors?.required">Email is required.</div>
    <div class="error-message" *ngIf="formRef.submitted && registrationForm.get('email')?.errors?.pattern">Invalid email format.</div>
  </div>
  <div class="form-field">
    <label for="birthDate">Birth Date:</label>
    <input type="text" id="birthDate" formControlName="birthDate" />
    <div class="error-message" *ngIf="formRef.submitted && registrationForm.get('birthDate')?.errors?.required">Birth date is required.</div>
    <div class="error-message" *ngIf="formRef.submitted && registrationForm.get('birthDate')?.errors?.pattern">Invalid date format (YYYY-MM-DD).</div>
  </div>
  <div class="form-field">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
    <div class="error-message" *ngIf="formRef.submitted && registrationForm.get('password')?.errors?.required">Password is required.</div>
    <div class="error-message" *ngIf="formRef.submitted && registrationForm.get('password')?.errors?.minlength">Password should be at least 8 characters long.</div>
    <div class="error-message" *ngIf="formRef.submitted && registrationForm.get('password')?.errors?.pattern">Password must contain at least one uppercase letter, one lowercase letter, and one digit.</div>
  </div>
  <div class="form-field">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword" />
    <div class="error-message" *ngIf="formRef.submitted && registrationForm.get('confirmPassword')?.errors?.required">Confirm password is required.</div>
    <div class="error-message" *ngIf="formRef.submitted && registrationForm.get('confirmPassword')?.errors?.validate">Passwords do not match.</div>
  </div>
  <div class="form-field">
    <input type="submit" value="Submit"/>
  </div>
</form>