<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<!-- <link rel="stylesheet" href="dist/theme/blood.css"> -->
		<link rel="stylesheet" href="dist/theme/night.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="plugin/highlight/monokai.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2 class="r-fit-text">
						Forms all night long!
					</h2>
					<h6>
						Adrian Rydzyński
					</h6>
				</section>
				<section>
					<section>So... why should I pay attention for next hour?</section>
					<section>
						<h2>That's why</h2>
						<p class="fragment fade-in-then-semi-out">There will be code!</p>
						<p class="fragment fade-in-then-semi-out">Forms are there</p>
						<p class="fragment fade-in-then-semi-out">Understanding them</p>
						<p class="fragment fade-in-then-semi-out">Speed up your work</p>
						<p class="fragment fade-in-then-semi-out">You can do it in many ways!</p>
						<p class="fragment">If you would be intrested: I can make a training with forms</p>
					</section>
				</section>
				<section>
					<section>Who am I and why presentation about forms?</section>
					<section>
						<h3>Adrian Rydzyński</h3>
						<p class="fragment fade-in-then-semi-out">8 years of experience</p>
						<p class="fragment fade-in-then-semi-out">JavaScript-oriented Developer</p>
						<p class="fragment fade-in-then-semi-out">React, Angular, TypeScript</p>
						<p class="fragment">Vesta Team</p>
					</section>
					<section>
						<h2>Vesta</h2>
					</section>
					<section>
						<h3>Commercial Trialing Application</h2>
						<h5 class="fragment">COMT is Form Based Application</h5>
					</section>
					<section>
						<img height="700px" src="photo_0.png" />
					</section>
						<section>
						<img height="700px" src="photo_1.png" />
					</section>
					<section>
						<img height="700px" src="photo_2.png" />
					</section>
					<section>
						<img height="700px" src="photo_3.png" />
					</section>
				</section>
				<section>
					<h3>Okay, but why should I care about forms?</h3>
					<p class="fragment fade-in-then-semi-out">
						Bad UI
					</p>
					<p class="fragment fade-in-then-semi-out">
						Low conversion
					</p>
					<p class="fragment fade-in-then-semi-out">
						Higher Complexity
					</p>
					<p class="fragment fade-in-then-semi-out">
						More bugs
					</p>
					<p class="fragment">
						Refactor needs
					</p>
					<p class="fragment">
						Maintenance issues
					</p>
				</section>
				<section>
					<img style="margin: 16px auto;" height="100px" src="photo_4.png" />
					<pre class="fragment" style="margin: 0; width: 100%; height: 500px;">
						<code class="hljs react" data-trim data-line-numbers>
							import React, { useEffect, useState } from 'react';
							import { IonText } from '@ionic/react';
							import { FormControl, FormHelperText } from '@mui/material';
							import { IMask, IMaskMixin } from 'react-imask';
							
							import { StyledOutlinedInput, StyledInputLabel } from '../styled/Components';
							import {
							  formatNumberAsString,
							  padDecimalZeros,
							  parseNumberFromString,
							} from '../../../util/number-utils';
							
							const createAdornment = (endAdornment?: string | JSX.Element) => {
							  if (!endAdornment) {
								return null;
							  }
							
							  const adornmentContet =
								typeof endAdornment === 'string' ? (
								  <IonText color="medium">{endAdornment}</IonText>
								) : (
								  endAdornment
								);
							
							  return <span slot="end">{adornmentContet}</span>;
							};
							
							const MaskedInput = IMaskMixin<
							  IMask.AnyMaskedOptions,
							  false,
							  string,
							  HTMLInputElement,
							  {
								label: string;
								labelSlug: string;
								value: string | null;
								error?: boolean;
								precision?: number;
								endAdornment?: string | JSX.Element;
								handleFocus?: () => void;
								handleBlur?: () => void;
								notched: boolean;
							  }
							>(
							  ({
								inputRef,
								label,
								error,
								labelSlug,
								precision,
								endAdornment,
								handleBlur,
								handleFocus,
								notched,
							  }) => {
								return (
								  <StyledOutlinedInput
									id={`${labelSlug}__htmlFor`}
									inputRef={inputRef}
									label={label}
									error={error}
									notched={notched}
									inputProps={{
									  inputMode: precision ? 'decimal' : 'numeric',
									}}
									onFocus={(focusEvent: React.FocusEvent) => {
									  focusEvent.stopPropagation();
									  handleFocus?.();
									}}
									onBlur={(blurEvent: React.FocusEvent) => {
									  blurEvent.stopPropagation();
									  handleBlur?.();
									}}
									endAdornment={createAdornment(endAdornment)}
									aria-describedby={`${labelSlug}__aria-described`}
									autoComplete="off"
								  />
								);
							  }
							);
							
							const OutlinedNumberInput: React.FC<{
							  className?: string;
							  label: string;
							  labelFocus?: string;
							  value: number | null;
							  handleChange: (value: number | null) => void;
							  endAdornment?: string | JSX.Element;
							  handleFocus?: (currentValue?: number | null) => void;
							  handleBlur?: (currentValue?: number | null) => void;
							  error?: boolean;
							  errorText?: string;
							  helperText?: string;
							  style?: React.CSSProperties;
							  precision?: number;
							}> = ({
							  className,
							  endAdornment,
							  handleFocus,
							  handleBlur,
							  handleChange,
							  error,
							  errorText,
							  helperText,
							  label,
							  labelFocus,
							  style,
							  value,
							  precision,
							}) => {
							  const [currentStringValue, setCurrentStringValue] = useState(
								padDecimalZeros(formatNumberAsString(value), precision)
							  );
							
							  const [currentLabel, setCurrentLabel] = useState(label);
							  const [isFocused, setIsFocused] = useState(false);
							
							  const labelSlug = label.replace(/\s+/g, '-');
							
							  useEffect(() => {
								if (!value && currentStringValue) {
								  setCurrentStringValue(null);
								  return;
								}
							
								const currentStringValueAsNumber =
								  parseNumberFromString(currentStringValue);
							
								if (value && value !== currentStringValueAsNumber) {
								  setCurrentStringValue(
									padDecimalZeros(formatNumberAsString(value), precision)
								  );
								}
							  }, [value]);
							
							  const handleCurrentStringValueUpdate = (newValue: string) => {
								const newNumberValue = parseNumberFromString(newValue);
							
								if (newNumberValue === null) {
								  setCurrentStringValue(null);
								  handleChange(null);
								  return;
								}
							
								const [whole, decimal] = newValue.split('.');
							
								if (decimal === '') {
								  setCurrentStringValue(`${whole}.`);
								} else if (!decimal) {
								  setCurrentStringValue(whole);
								} else if (decimal) {
								  setCurrentStringValue(`${whole}.${decimal}`);
								}
							
								handleChange(newNumberValue);
							  };
							
							  const shouldShrink = isFocused || !!value;
							
							  return (
								<div className={`${className ?? ''}`}>
								  <FormControl fullWidth style={style}>
									<StyledInputLabel
									  shrink={shouldShrink}
									  error={!!errorText}
									  htmlFor={`${labelSlug}__htmlFor`}
									>
									  {currentLabel}
									</StyledInputLabel>
									<MaskedInput
									  mask={Number}
									  thousandsSeparator=","
									  precision={precision}
									  scale={precision}
									  padFractionalZeros
									  value={currentStringValue ?? ''}
									  radix="."
									  handleFocus={() => {
										setIsFocused(true);
										setCurrentLabel(labelFocus ?? label);
										handleFocus?.(parseNumberFromString(currentStringValue));
									  }}
									  handleBlur={() => {
										setCurrentLabel(label);
										setCurrentStringValue(
										  padDecimalZeros(currentStringValue, precision)
										);
										handleBlur?.(parseNumberFromString(currentStringValue));
										setIsFocused(false);
									  }}
									  onAccept={(newValue) => handleCurrentStringValueUpdate(newValue)}
									  label={currentLabel}
									  labelSlug={labelSlug}
									  error={!!error}
									  endAdornment={endAdornment}
									  notched={shouldShrink}
									/>
									{errorText && (
									  <FormHelperText error id={`${labelSlug}__aria-described`}>
										{errorText}
									  </FormHelperText>
									)}
									{!errorText && helperText && (
									  <FormHelperText id={`${labelSlug}__aria-described`}>
										{helperText}
									  </FormHelperText>
									)}
								  </FormControl>
								</div>
							  );
							};
							
							export default OutlinedNumberInput;
							export { createAdornment };															  
						</code>
					</pre>
				</section>
				<section>
					<section>
						<h3>This is a task:</h3>
						<p class="fragment fade-in-then-semi-out">
							Register form
						</p>
						<p class="fragment fade-in-then-semi-out">
							Email, Birth Date
						</p>
						<p class="fragment fade-in-then-semi-out">
							Password, Confirm Password
						</p>
						<p class="fragment">
							Validation
						</p>
					</section>
					<section>
						We will focus on <b>Password</b>
					</section>
				</section>
				<section>
					<section>
						Which library/framework should I use?
					</section>
					<section>
						JavaScript
						<p class="fragment fade-in-then-semi-out">
							0kb
						</p>
						<p class="fragment fade-in-then-semi-out">
							We can do anything
						</p>
						<p class="fragment">
							No help
						</p>
					</section>
					<section>
						React / Hook-Form
						<p class="fragment fade-in-then-semi-out">
							Additional Dependencies
						</p>
						<p class="fragment fade-in-then-semi-out">
							Functional Programming
						</p>
						<p class="fragment">
							Some build-in functionalities
						</p>
					</section>
					<section>
						Angular
						<p class="fragment fade-in-then-semi-out">
							Additional Dependencies
						</p>
						<p class="fragment fade-in-then-semi-out">
							Object Oriented Programming
						</p>
						<p class="fragment">
							Rich set of features
						</p>
					</section>
				</section>
				<section>
					<section>
						<h4>Back to code!</h4>
					</section>
					<section>
						<h4>JavaScript</h4>
						<pre class="fragment semi-fade-out" style="margin: 0; margin-bottom: 24px; width: 100%;">
							<code class="hljs html" data-trim>
								<div class="form-field">
									<label for="password">Password:</label>
									<input type="password" id="password" required />
									<div class="error-message" id="password-error"></div>
								</div>
							</code>
						</pre>
						<pre class="fragment" style="margin: 0; width: 100%;">
							<code class="hljs javascript" data-trim data-line-numbers="7|10-17|19-25|27-29|32">
								document.addEventListener('DOMContentLoaded', () => {
									const submitBtn = document.getElementById('submitBtn');
								  
									function validateForm(event) {
									  event.preventDefault();
								  
									  const password = document.getElementById('password').value;
									  let isValid = true;
								  
									  const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
										if (!password.match(passwordRegex)) {
											document.getElementById('password-error').textContent 
												= "The password should contain at least 8 characters, including at least one uppercase letter and one number!";
											isValid = false;
										} else {
											document.getElementById('password-error').textContent = '';
										}
								  
										if (password !== confirmPassword) {
											document.getElementById('confirmPassword-error').textContent 
												= "Password confirmation does not match the password entered!";
											isValid = false;
										} else {
											document.getElementById('confirmPassword-error').textContent = '';
										}
									
										if (!isValid) {
											alert("The form has been completed correctly!");
										}
									}
								  
									submitBtn.addEventListener('click', validateForm);
								});								  
							</code>
						</pre>
					</section>
					<section>
						<h4>React</h4>
						<pre style="margin: 0; width: 100%;">
							<code class="hljs react" data-trim data-line-numbers="4|8|12-19|21-26|32-38|40">
								import React, { useState } from "react";

								const RegistrationForm = () => {
									const [password, setPassword] = useState("");
									const [errors, setErrors] = useState({});

									const validateForm = () => {
										const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

										let newErrors: any = {};

										if (!password.match(passwordRegex)) {
											newErrors.password =
												"The password should contain at least 8 characters, including at least one uppercase letter and one number!";
										}

										if (password !== confirmPassword) {
											newErrors.confirmPassword = 
												"Password confirmation does not match the password entered!";
										}

										setErrors(newErrors);

										if (Object.keys(newErrors).length === 0) {
											alert("The form has been completed correctly!");
										}
									};

									return (
										<div className="form-container">
											<h2>Register form</h2>
											<div className="form-field">
												<label htmlFor="password">Password:</label>
												<input
													type="password"
													id="password"
													value={password}
													onChange={onChange}
													required
												/>
												{errors.password && 
													<div className="error-message">{errors.password}</div>
												}
											</div>
											<div className="form-field">
												<input type="submit" value="Register" id="submitBtn" onClick={validateForm} />
											</div>
										</div>
									);
								};								  
							</code>
						</pre>
					</section>
					<section>
						<h4>React Hook Form</h4>
						<pre style="margin: 0; width: 100%;">
							<code class="hljs javascript" data-trim data-line-numbers="5-6|12-13|15-28|35-39|42">
								import React from "react";
								import { useForm } from "react-hook-form";

								const RegistrationForm = () => {
									const { register, handleSubmit, formState: { errors }, watch } 
										= useForm();

									const onSubmit = (data) => {
										alert("The form has been completed correctly!");
									};

									const confirmPassword = React.useRef({});
									confirmPassword.current = watch("confirmPassword", "");

									const registerOptions = {
										required: "This field is required",
										minLength: {
											value: 8,
											message: "The password should contain at least 8 characters",
										},
										pattern: {
											value: /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/,
											message:
												"The password should contain at least one uppercase letter and one number!",
										},
										validate: (value) => {
											return value === confirmPassword.current || "Password confirmation does not match the password entered!",
										}

									return (
										<div className="form-container">
											<h2>Register form</h2>
											<form onSubmit={handleSubmit(onSubmit)}>
												
												<div className="form-field">
													<label htmlFor="password">Password:</label>
													<input
														type="password"
														id="password"
														name="password"
														{...register("password", registerOptions})}
													/>
													{errors.password && <div className="error-message">{errors.password.message}</div>}
												</div>
												
												<div className="form-field">
													<input type="submit" value="Register"/>
												</div>
											</form>
										</div>
									);
								};


								export default RegistrationForm;								  
							</code>
						</pre>
					</section>
					<section>
						<h4>Angular</h4>
						<pre style="margin: 0; margin-bottom: 24px; width: 100%;">
							<code class="hljs html" data-trim data-line-numbers="1|4-5|6-11">
								<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-container" #formRef="ngForm">
									<h2>Register form</h2>
									<div class="form-field">
									  <label for="password">Password:</label>
									  <input type="password" id="password" formControlName="password" />
									  <div class="error-message" 
									  	*ngIf="formRef.submitted && registrationForm.get('password')?.errors?.required">
										Password is required.</div>
									  <div class="error-message" 
									  	*ngIf="formRef.submitted && registrationForm.get('password')?.errors?.minlength">
										Password should be at least 8 characters long.</div>
									  <div class="error-message" 
									  	*ngIf="formRef.submitted && registrationForm.get('password')?.errors?.pattern">
										Password must contain at least one uppercase letter, one lowercase letter, and one digit.</div>
									</div>
									<div class="form-field">
									  <input type="submit" value="Submit"/>
									</div>
								  </form>
							</code>
						</pre>
					</section>
					<section>
						<h4>Angular</h4>
						<pre style="margin: 0; width: 100%;">
							<code class="hljs javascript" data-trim data-line-numbers="10-13|15-22|24-33|37">
								import { Component, OnInit } from '@angular/core';
								import { FormBuilder, FormGroup, Validators } from '@angular/forms';

								@Component({
									selector: 'app-root',
									templateUrl: './app.component.html',
									styleUrls: ['./app.component.css']
								})

								export class AppComponent implements OnInit {
									registrationForm!: FormGroup;

									constructor(private formBuilder: FormBuilder) {}

									ngOnInit() {
										this.registrationForm = this.formBuilder.group({
											password: ['', 
												[Validators.required, Validators.minLength(8), 
												Validators.pattern(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/)]],
											confirmPassword: ['', [Validators.required]]
										}, { validator: this.passwordMatchValidator });
									}

									passwordMatchValidator(formGroup: FormGroup) {
										const password = formGroup.get('password')?.value;
										const confirmPassword = formGroup.get('confirmPassword')?.value;
										
										if (password !== confirmPassword) {
											formGroup.get('confirmPassword')?.setErrors({ validate: true });
										} else {
											formGroup.get('confirmPassword')?.setErrors(null);
										}
									}

									onSubmit() {
										if (this.registrationForm.invalid) {
											return;
										}

										alert('The form has been completed correctly!');
									}
								}  
							</code>
						</pre>
					</section>
				</section>
				<section>
					<h4>So... who won?</h4>
					<p class="fragment fade-in-then-semi-out">Angular has the shortest, the cleanest code</p>
					<p class="fragment fade-in-then-semi-out">Clean JS has about 50kb smaller bundle</p>
					<p class="fragment fade-in-then-semi-out">React has most user-oriented approach</p>
					<p class="fragment fade-in-then-semi-out">React-hook-forms has more control than React</p>
					<p class="fragment">ChatGPT wrote a lot of errors</p>
				</section>
				<section>
					<section>
						<h4>What can I do now?</h4>
						<h5 class="fragment">At least couple of things</h5>
					</section>
					<section>
						If you are using React
						<p class="fragment">- check RHF/Formik</p>
					</section>
					<section>
						<p>Update form, not whole state</p>
					</section>
					<section>
						If you start brand new application
						<p class="fragment">- speak with users, maybe Angular/VanillaJS would be better than React</p>
					</section>
					<section>
						If you have a lot of bugs 
						<p class="fragment">- try adding cypress</p>
						<pre class="fragment" style="margin: 0; width: 100%;">
							<code class="hljs javascript" data-trim data-line-numbers="1|2-10">
								describe('My First Test', () => {
									it('clicking "type" navigates to a new url', () => {
									  cy.visit('https://example.cypress.io')
								  
									  cy.contains('type').click()
								  
									  // Should be on a new URL which
									  // includes '/commands/actions'
									  cy.url().should('include', '/commands/actions')
									})
								})
							</code>
						</pre>
					</section>
					<section>
						If you have complex form 
						<p class="fragment">- think about TypeScript/JSDoc</p>
					</section>
					<section>
						If you want to try something else
						<p class="fragment">- check React JsonSchema Form</p>
						<p class="fragment">rjsf-team.github.io/react-jsonschema-form/docs/</p>
					</section>
					<section>
						<pre class="fade-in-then-semi-out" style="margin: 0; width: 100%;">
							<code class="hljs javascript" data-trim>
								import { RJSFSchema } from '@rjsf/utils';
								import validator from '@rjsf/validator-ajv8';
								
								const schema: RJSFSchema = {
								  title: 'Todo',
								  type: 'object',
								  required: ['title'],
								  properties: {
										title: { type: 'string', title: 'Title', default: 'A new task' },
										done: { type: 'boolean', title: 'Done?', default: false },
								  },
								};
								
								const log = (type) => console.log.bind(console, type);
								
								return (
									<div>
										<Form
											schema={schema}
											validator={validator}
											onChange={log("changed")}
											onSubmit={log("submitted")}
											onError={log("errors")}
										/>
									</div>
								);
							</code>
							<img style="margin: 16px auto;" height="280px" src="photo_5.png" />
						</pre>
					</section>
					<section>
						Bonus: If you want to have cleaner classes management use clsx
					</section>
					<section>
						<pre class="fragment fade-in-then-semi-out" style="margin: 0; width: 100%;">
							<code class="hljs react" data-trim>
								const classNames = {
									(value === YIELD_CALC_STATIC_VIEW_DEFAULT_DISPLAY
									? 'yield-detail-value'
									: 'detail-value') + (disabled && ' value-disabled')
								}
								<div className={classNames}> Bad </div>
							</code>
						</pre>
						<pre class="fragment fade-in-then-semi-out" style="margin: 0; margin-top: 24px; margin-bottom: 24px; width: 100%;">
							<code class="hljs react" data-trim>
								const className = {`${
									  value === YIELD_CALC_STATIC_VIEW_DEFAULT_DISPLAY
										? 'yield-detail-value'
										: 'detail-value'
									} 
									${disabled ? ' value-disabled' : ''} `}
								<div className={classNames}> Good </div>
							</code>
						</pre>
						<pre class="fragment" style="margin: 0; width: 100%;">
							<code class="hljs react" data-trim>
								const defaultDisplay = value === YIELD_CALC_STATIC_VIEW_DEFAULT_DISPLAY
								const classNames = clsx({
									'yield-detail-value': defaultDisplay,
									'detail-value': !defaultDisplay,
									'value-disabled': disabled
								})
								<div className={classNames}> The best </div>
							</code>
						</pre>
					</section>
				</section>
				<section>
					<section>
						<h3>Summarize</h3>
						<p class="fragment fade-in-then-semi-out">
							Data Validation
						</p>
						<p class="fragment fade-in-then-semi-out">
							State Management
						</p>
						<p class="fragment fade-in-then-semi-out">
							Error Handling
						</p>
						<p class="fragment fade-in-then-semi-out">
							Testing
						</p>
						<p class="fragment">
							DRY
						</p>
					</section>
				</section>
				<section>
					<h2 class="r-fit-text">
						Thank you!
					</h2>
					<h6>
						Adrian Rydzyński
					</h6>
				</section>
			</div>
		</div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/zoom/zoom.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/search/search.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script>

			// Also available as an ES module, see:
			// https://revealjs.com/initialization/
			Reveal.initialize({
				controls: true,
				progress: true,
				center: true,
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
			});

		</script>
	</body>
</html>
